* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
}
.contSect1 {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 20vh;
    padding-left: 15px;
    transition: all 0.3s;
}
.contSect2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    width: 100vw;
    height: 80vh;
    transition: all 0.3s;
}

/*Aquí inicia el estilo del Index*/
/*ESTILO TABLAS*/
.contTitle{
    display: flex;
    justify-content: left;
    width: 100vw;
    height: 10vh;
}
.addContainer {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100vw;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

tr, td, th{
    border: 1px solid black;
    padding: 10px;
}

td {
    background-color: rgb(240, 255, 255);
}

th {
    background-color: aquamarine;
}

.listUsers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
}


/*Aquí TERMINA el estilo del Index*/

/*Aquí inicia el estilo del listarJuanchito*/
.inputbtn {
    padding: 10px;
    background-color:rgb(110, 201, 19);
    border: none;
    border-radius: 5px;
    opacity: 1;
    font-weight: 500;
    font-size: 0.9rem;
    cursor: pointer;
}

.inputbtn:hover {
    transition: all 0.2s;
    background-color:rgb(126, 195, 57);
    font-size: 1rem;
}
.headerData th:hover {
    cursor: pointer;
    transition: all 0.2s;
    background-color: rgb(36, 202, 202);
}
.bodyData td:hover {
    cursor: pointer;
    transition: all 0.2s;
    background-color: rgb(36, 202, 202);
}
/*Aquí TERMINA el estilo del listarJuanchito*/


/*Aquí inicia el estilo del agregarJuanchito*/
.contAdd {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke
}
    .formCont {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color:rgb(158, 226, 203);
        width: 90%;
        padding: 50px;
    }
    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color:rgb(158, 226, 203);
        width: 100%;
        padding: 40px;
    }
    .firstInput {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: all .3s;
    }
    .secInput {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        transition: all .3s;
    }
    .frmInput {
        margin: 5px;
        padding: 10px;
        border: none;
        border-radius: 3px;
    }
    .sendBtn {
        background-color: rgb(98, 135, 123);;
        border: none;
        padding: 10px;
        border-radius: 5px;
    }
    .sendBtn:hover {
        cursor: pointer;
        font-size: 1rem;
        transition: all .3s;
    }
/*Aquí TERMINA el estilo del agregarJuanchito*/
